<section class="section">
    <div class="row">
        <div class="col-md-12 card">
            <div class="card-block">
                <section class="example">
                    <ngx-charts-pie-chart
                        [view]="[545,355]"
                        [results]="data"
                        [legend]="false"
                        [labels]="true"
                        [doughnut]="true">
                    </ngx-charts-pie-chart>
                </section>
            </div>
        </div>
    </div>
</section>
