<div class="auth">
    <div class="auth-container">
        <div class="card">
            <header class="auth-header">
                <h1 class="auth-title">
                    <div class="logo">
                        <img src="../../assets/images/logo.png" alt="">
                    </div>
                    Login to system
                </h1>
            </header>
            <div class="auth-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
