<div class="title-block">
    <h3 class="title">
        Records Page<span class="sparkline bar"></span>
    </h3>
</div>
<div style="text-align: center" *ngIf="!isLoaded">
    Loading...
</div>
<section class="section" *ngIf="isLoaded">
    <div class="row">
        <div class="col-md-6">
            <app-add-event [categories]="categories"></app-add-event>
        </div>
        <div class="col-md-6">
            <app-add-category  (onCategoryAdd)="onCategoryAdd($event)"></app-add-category>
        </div>
        <div class="col-md-6">
            <app-edit-category (onCategoryEdit)="onCategoryEdit($event)" [categories]="categories" ></app-edit-category>
        </div>
    </div>
</section>
